{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<style>
.help-block{color:red;
            font-weight:bold;
}
</style>
<div class='d-flex justify-content-center' style="margin-top:20px; margin-bottom:30px;">
<div class='col-sm-6 col-sm-offset-3'>
<h3 class='text-center'>Update your profile!</h3>
<form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %} {{ noodle_form|crispy  }}


                {{ formset|crispy  }}
           <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Update' %}" />
        </form>
		</div>
    </div>
</div>

{% endblock %}
